<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/enju.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/enju-manual-patch.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/highlight.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/admonitionblock-icon.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ HOME_PATH }}/css/coderay.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ HOME_PATH }}"><img src="{{ ASSET_PATH }}/../../images/logo.gif" alt="" />{{ site.title }}{% if page.version %} {{ page.version }}{% endif %}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          {% include custom/google_custom_search %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="content">
        {{ content }}
      </div>

      <footer>
        <p>&copy; 2007 <a href="{{ site.author.url }}">{{ site.author.name }}</a></p>
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}
    {% if page.group contains 'enju_' %}
  <script type="text/javascript">
  $(function() {
    return $("h2, h3, h4, h5, h6").each(function(i, el) {
      var $el, icon, id;
      $el = $(el);
      id = $el.attr('id');
      icon = '<i title="Permalink to this section" class="fa fa-share-alt"></i>';
      if (id) {
        return $el.append($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
      }
    });
  });
  </script>
    {% endif %}
  </body>
</html>
